<!DOCTYPE html>
<html lang="en">
<head>
<title>Fitness Club | Nutrition</title>
<meta charset="utf-8">
<script src="js/jquery-1.7.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/cufon-yui.js"></script>
<script src="js/Asap_400.font.js"></script>
<script src="js/Coolvetica_400.font.js"></script>
<script src="js/Kozuka_M_500.font.js"></script>
<script src="js/cufon-replace.js"></script>
<script src="js/FF-cash.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="main">
  <div class="bg-img"></div>
  <!--==============================header=================================-->
  <header>
    <h1><a href="index.html">Fitness <strong>Club.</strong></a></h1>
    <nav>
      <div class="social-icons"> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      <ul class="menu">
        <li><a href="index.html">About</a></li>
        <li><a href="trainings.html">Trainings</a></li>
        <li><a href="timetable.html">Timetable</a></li>
        <li class="current"><a href="nutrition.html">Nutrition</a></li>
        <li><a href="contacts.html">Contacts</a></li>
		<li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="box-shadow">
          <div class="wrap block-2">
            <div class="col-1">
              <h2 class="p3"><span class="color-1">We do care</span> about your health</h2>
              <p class="p2"><strong>Almonds and dates</strong></p>
              <p class="p5">A mix of almonds and dates is possibly the easiest snack you can stock at your desk. “The combination is great—you get a little fat and protein from the nuts, and because of their sweet taste, dates help satisfy afternoon sugar cravings,” says Villacorta. Though nuts and dried fruit are nutritionally dense, they are also relatively high in calories, so be sure to measure out serving sizes for each. Villacorta recommends two to three dates and 18 almonds.</p>
              <div class="wrap box-1"> <img src="images/page4-img1.jpg" alt="" class="img-border img-indent">
                <div class="extra-wrap">
                  <p class="p2"><strong>Oatmeal</strong></p>
                  <p>A cup of the fiber-packed breakfast staple is also a smart afternoon snack—one that will keep you feeling full until dinnertime. For added health benefits, mix in a little cinnamon and a few crushed walnuts. “The walnuts provide heart-healthy fat and cinnamon is an anti-inflammatory spice—they make it a more complete snack,” says Villacorta.</p>
                  <a href="#" class="button top-6">Search</a> </div>
              </div>
              <h2 class="p3 top-2"><span class="color-1">You are</span> in good hands</h2>
              <p class="p2"><strong>Figs and dark chocolate</strong></p>
              <p class="p5">Got a nagging sweet tooth? Figs and dark chocolate are your ticket to indulging without too much guilt. “Figs are full of iron, antioxidants, fiber, and potassium," says Villacorta. "They're also known to be an anti-inflammatory food.” When it comes to chocolate, the darker the better. Aim for 70% cocoa or higher.</p>
            </div>
            <div class="col-2">
              <h2 class="p6"><span class="color-1">About</span> nutrition</h2>
              <img src="images/page4-img2.jpg" alt="" class="img-border">
              <p class="p2 top-6"><strong>Healthy Foods</strong></p>
              <ul class="list-2">
                <li><a href="#"> Canned tuna</a></li>
                <li><a href="#">Vegetables and hummus</a></li>
                <li><a href="#">Greek yogurt and berries</a></li>
                <li><a href="#">Smoothie</a></li>
              </ul>
              <a href="#" class="button top-5">Read more</a> </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <!--==============================footer=================================-->
  <footer>
    <p>© 2017 Fitness Club</p>
    <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">Mohit Khanna</a></p>
  </footer>
</div>
<script>Cufon.now();</script>
</body>
</html>
