._1yhj{width:200px}
._5-kj{border-bottom:1px solid #e1e2e3;border-top:1px solid #e1e2e3;height:auto;margin:0 0 -1px;min-height:22px;padding:8px 0}._5-ki{margin:3px -1px -1px 12px}._4hpy{display:inline;position:absolute}._5-kh{color:red;display:inline;font-size:13px;margin:0 0 0 24px}

#bootloader_XvHY6{height:42px;}.bootloader_XvHY6{display:block!important;}